body {
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

header {
    position: sticky;
    top: 0;
    padding: 15px;
    z-index: 1000;
    background: #fff;
    -webkit-box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.15);
}

.header__img {
    height: 64px;
    width: 64px;
}

footer {
    padding: 20px;
    background: #fff;
    bottom: 0
}

.page {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    max-width: 100vh;
    margin: 0 auto;
    padding: 40px 20px
    display: flex;
    flex: 1 1 auto;
}