{% extends 'base.html' %}

{% block title %}
Сообщество
{% endblock %}

{% block content %}
<div class="container px-4 py-5" id="featured-3">
    <h2 class="pb-2 border-bottom">Сообщества</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Lakers</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link"> Подписаться
                <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
            </a>
        </div>
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Bulls</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
            <a href="#" class="icon-link"> Подписаться
                <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
            </a> </div>
        <div class="feature col">
            <h3 class="fs-2 text-body-emphasis">Zenit</h3>
            <p>Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.</p>
        <a href="#" class="icon-link"> Подписаться
                <svg class="bi" aria-hidden="true"><use xlink:href="#chevron-right"></use></svg>
        </a>
        </div>
    <button type="button" class="btn btn-sm btn-outline-secondary">Создать сообщество</button>
    </div>
</div>

{% endblock %}
